.good-Box .good-Title {
  display: flex;
  background-color: #7fb96d;
  align-items: center;
  justify-content: space-between;
  padding: 0.5vw 1vw;
  color: #353a3f;
}
.good-Title a {
  line-height: 2vw;
  transition: all 0.3s;
  font-size: 1vw;
  font-family: 標楷體;
  color: #353a3f;
}
.good-Title h2 {
  font-family: 標楷體;
  margin-bottom: 0;
}
.good-ImgBox img {
  margin-top: 0.7vw;
  height: 20vw;
  width: 17vw;
  border-radius: 9%;
}
.good {
  display: flex;
  justify-content: space-evenly;
}
.good ul {
  display: flex;
}
.good ul div {
  text-align: center;
  flex: 5;
}
.good-Box .good ul li {
  margin: 1vw 1vw;
  display: flex;
  flex-direction: column;
  border: 0.06vw solid #9b9898;
  text-align: center;
  border-radius: 10px;
  width: 18vw;
  flex: 1;
  justify-content: space-around;
  transition: all 0.3s;
}
.good-Box .good ul li h2 {
  font-size: 1.5vmin;
  flex: 2;
  padding-top: 1vw;
  margin: 1vw 0.5vw;
  border-top: 1px solid #000;
}
.good-Box .good ul li p {
  color: #353a3f;
  font-size: 1.5vmin;
  flex: 1;
}
.good-Box .good ul li:hover {
  border: 0.3vw solid #575757;
}
.icofont-ui-search {
  color: #dadada;
}
.carousel-control-prev-icon {
  width: 6.5vw;
  height: 6.5vw;
}
.carousel-control-next-icon {
  width: 6.5vw;
  height: 6.5vw;
}
